In [1]:
import numpy as np
import pandas as pd
from itertools import product
from turtle import shape
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
data_new = pd.read_excel('多酶使用数据集-模型计算用.xlsx')

In [3]:
data_new

         酶   助剂  pH      浓度  孵育温度  孵育时间
0       Ba  AKD   5  0.0001    30    20
1       Ba  AKD   5  0.0001    30    30
2       Ba  AKD   5  0.0001    30    40
3       Ba  AKD   5  0.0001    30    60
4       Ba  AKD   6  0.0010    40    10
...    ...  ...  ..     ...   ...   ...
29994  EG1  PEO  12  1.0000    70    10
29995  EG1  PEO  12  1.0000    70    20
29996  EG1  PEO  12  1.0000    70    30
29997  EG1  PEO  12  1.0000    70    40
29998  EG1  PEO  12  1.0000    70    60

[29999 rows x 6 columns]

In [4]:
label_encoder = LabelEncoder()
data_new['酶'] = label_encoder.fit_transform(data_new['酶'])
data_new['助剂'] = label_encoder.fit_transform(data_new['助剂'])

In [5]:
scaler.fit(data_new) 
data_transfer = scaler.transform(data_new)

NameError: name 'scaler' is not defined

In [ ]:
pre_new = xgb_model_.predict(data_transfer)

In [ ]:
data_new = pd.read_excel('多酶使用数据集-模型计算用.xlsx')

In [ ]:
pre_result = data_new.copy() 
pre_result['酶活'] = pre_new

In [ ]:
pre_result

In [ ]:
resultPath = '多酶复配数据集_demo.xlsx'
pre_result.to_excel(resultPath,sheet_name = "多酶复配数据集_demo",index = False)